.container  {
    height: 100vh;
    width: 100%;
    margin: 0 0 0 0;
    max-width: 100%;
    padding: 0;
    background: radial-gradient(circle, #673544 1%, black);
    right: 0;
}
.row    {
}

.list    {
    background-color: gold}
md-grid-tile    {
    background-color: white;
}
.ImgCard    {
    position: fixed;
    top: 10%;
    height: 80vh;
    width: 17.5%;
    padding: 0;
}

 .Img1 {
    width: 100%;
     height: 100%;
     background-image: url("./MainPhoto.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 50%;
     transition: 1.5s ease;

 }
.Img2 {
    width: 100%;
    height: 100%;
    background-image: url("./MainPhoto2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.Img3 {
    width: 100%;
    height: 100%;
    background-image: url("./MainPhoto4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -100px;
    transition: 1.5s ease;
}

.ImgCard3    {
    -webkit-transition: 1.5s ease time;
    -moz-transition: 1.5s ease time;
    -ms-transition: 1.5s ease time;
    -o-transition: 1.5s ease time;
    transition: 1.5s ease time;
}

.Img4 {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/Ally-Face.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -100px;
    transition: 1.4s ease;

}



 h5 {
     text-align: center;
     //font-family: 'Cinzel', serif;
     //font-family: 'Poiret One', cursive;
     font-family: 'Playfair Display SC', serif;
     font-size: 45px;
     color: #ffffff;

 }
 h6 {
     text-align: center;
     font-family: 'Cinzel', serif;
     font-size: 15px;
     color: #ffffff;

 }
 p{
     font-family: 'Raleway', sans-serif;
    font-size: 12px;
     line-height: 20px;
     letter-spacing: 2px;
     color: #ffffff;
 }
.Bio   {
    margin:  10px 0 0 0;
    width: 100%;
    text-align: justify;
    font-size: 14px;

}




 .inline    {
     display: inline-flex;
 }
 .bold  {
     margin-right: 5px;
 }

 mat-icon    {
     margin-right: 5px;
 }
.titlecard {
    background-color: #121212;
    overflow-y: auto;
}
.portfolio-card    {
    position: fixed;
    right: 3%;
    top: 72vh;
    height: 18vh;
    width: 37%;
    background-color: #121212;
    cursor: pointer;
    transition: .5s ease;
}
.portfolio-card:hover   {
    background-color: grey;
    transition: .5s ease;
}
.portfolio-button   {
    position: absolute;
    top: 50%;
    right: calc(50% - 15px);
}
.portfolio-title    {
    font-size: 30px;
    position: absolute;
    top: calc(50% -  30px);
    left: calc(50% - 95px);
}
.portfolio-button-arrow {
    position: absolute;
    top: calc(50% - 26px);
    right: calc(50% - 95px);
}
.portfolioTitle  {
    font-family: 'Cinzel', serif;
    position: absolute;
    top: calc(40% - 40px);
    right: calc(50% - 100px);
    font-size: 40px;
    line-height: 40px;
    color: #1c1c1c;
}

.contactbuttons {
    margin: 0 0 0 calc(50% - 70px);
    padding: 5px 0 0;
    height: 35px;
    width: 140px;
    background-color: white;
    cursor: pointer;
}
.drawer {
    position: absolute;
    height: 0;
    width: 100%;
    border-top: solid 3px dimgrey;
    transition: .5s ease;
    z-index: 3;
    display: none;
}

.drawer:hover   {
    height: 100px;
    transition: .5s ease;
}




/* Rules for using icons as white on a dark background. */
.material-icons.mat-light { color: rgba(255, 255, 255, 1); }
.material-icons.mat-light.mat-inactive { color: rgba(255, 255, 255, 0.3); }