.forward-button    {

    size: 20px;
    z-index: 1;
}

button{
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.container  {
background-color: whitesmoke;
}
.ImgCard    {
    position: fixed;
    top: 10%;
    height: 80vh;
    width: 17.5%;
    padding: 0;
}

 .Img1 {
    width: 100%;
     height: 100%;
     background-image: url("./MainPhoto.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 50%;
     transition: 1.5s ease;

 }
.Img2 {
    width: 100%;
    height: 100%;
    background-image: url("./MainPhoto2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.Img3 {
    width: 100%;
    height: 100%;
    background-image: url("./MainPhoto3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -250px;
    transition: 1.5s ease;

}
.Img4 {
    width: 100%;
    height: 100%;
    background-image: url("./MainPhoto4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 1.4s ease;

}


 .Bio   {
     margin: 30px 0;
    width: 100%;
     text-align: justify;
     font-size: 14px;

 }
 h5 {
     text-align: center;
     //font-family: 'Cinzel', serif;
     //font-family: 'Poiret One', cursive;
     font-family: 'Playfair Display SC', serif;
     font-size: 45px;
     color: #1c1c1c;

 }
 h6 {
     text-align: center;
     font-family: 'Cinzel', serif;
     font-size: 15px;
     color: #1c1c1c;

 }
 p{
     font-family: 'Raleway', sans-serif;
    font-size: 12px;
     line-height: 20px;
     color: #1c1c1c;
 }




 .inline    {
     display: inline-flex;
 }
 .bold  {
     margin-right: 5px;
 }

 mat-icon    {
     margin-right: 5px;
 }




.titlecard {
    position: fixed;
    right: 3%;
    top: 10vh;
    height: 60vh;
    width: 37%;
    background-color: white;
    overflow-y: scroll;
}
 .contactbuttons {
     position: fixed;
     height: 25px;
     width: 135px;
     bottom: 20px;
     left: calc(50% - 67.5px);
     background-color: #1c1c1c;
     padding: 0;
 }


.portfoliocard    {
    position: fixed;
    right: 3%;
    top: 72vh;
    height: 18vh;
    width: 37%;
    background-color: white;
}
.portfolio-button   {
    position: absolute;
    top: calc(60% - 15px);
    right: calc(50% - 15px);
}
.portfolioTitle  {
    font-family: 'Cinzel', serif;
    position: absolute;
    top: calc(40% - 40px);
    right: calc(50% - 100px);
    font-size: 40px;
    line-height: 40px;
    color: #1c1c1c;
}

/* Rules for using icons as white on a dark background. */
.material-icons.mat-light { color: rgba(255, 255, 255, 1); }
.material-icons.mat-light.mat-inactive { color: rgba(255, 255, 255, 0.3); }