.back-button    {
    position: fixed;
    top: calc(50vh - 50px);
    left: 50px;
    font-size: 100px;
    color: #c7c7c7;
    opacity: .4;
    z-index: 1;
    cursor: pointer;
}
.sidenav_button {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
md-sidenav{
    width: 300px;
    border-left: 2px solid black;
    color: black;
    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
}
/deep/ .md-sidenav-transition .md-sidenav-backdrop.mat-sidenav-shown {
    background: grey;  /* replace skyblue with any color */
}
h5 {
    text-align: center;
    font-size: 29px;
    line-height: 20px;
    font-family: 'Playfair Display SC', serif;
    color: white;
    position: absolute;
    top: calc(50% - 35px);
}
h6  {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    line-height: 20px;
    color: white;
    position: absolute;

}
p{
    font-family: 'Playfair Display SC', serif;
    position: absolute;
    top: 70%;
    color: white;
    max-width: 80%;
}
hr {
    position: absolute;
    top: 55%;
    color: white;
}
.wrapper    {
    height: 100vh;
    overflow-y: scroll;
    margin-top: 0;
    background-color: black;
    background-position: right top;
}
md-grid-list    {
    width: 65%;
    margin: 0 17.5% 0;
    padding-top: 10px;
    padding-bottom: 10px !important;
    height: 2000px;
}
md-grid-tile    {
    padding: -50px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border: solid 2px black;
    transition: all .8s ease-in-out;
}
.Ally {
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/Ally-Side.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
    transition: 1.4s ease;
    
}
.Ally:hover {
    
    //filter: blur(1px);

}
.Gamberger {
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/Gamberger.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 5%;
    transition: 1.4s ease;
    
}
.Gamberger:hover {
    
    //filter: blur(1px);

}
.Carmen {
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/Carmen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 57%;
    transition: 1.4s ease;
    
}
.Carmen:hover {
    
    //filter: blur(1px);

}
.Sol {
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/Sol.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    transition: 1.4s ease;
    
}
.Sol:hover {
    
    //filter: blur(1px);

}
.Pasajeros_en_Trance {
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/Pasajeros.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 52%;
    transition: 1.4s ease;

}
.Pasajeros_en_Trance_Text {
    position: absolute;
    top: 60px;
    line-height:25px;
    text-align: center;
}
.Pasajeros_en_Trance_Subtext    {
    position: absolute;
    top: 125px;
    line-height:25px;
    text-align: center;
}
.Pasajeros_en_Trance_Paragraph {
    position: absolute;
    top: 170px;
    line-height:25px;
    text-align: center;
}
.Pasajeros_en_Trance:hover   {
    
    //filter: blur(1px);
}

.Faceless_God {
    width: 100%;
    height: 100%;
    background-image: url("../../Imgs/Faceless_God_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 8%;
    transition: 1.4s ease;
    
}
.Faceless_God:hover {
    
    //filter: blur(1px);
}

.Carmensita {
    width: 100%;
    height: 100%;

    background-image: url("../../Imgs/Carmensita_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    transition: 1.4s ease;
    
}
.Carmensita:hover   {
    
    //filter: blur(1px);
}

.COS {
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/COS.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    transition: 1.4s ease;

}
.COS:hover   {
    
    //filter: blur(1px);
}

.The_Night_Bell {
    width: 100%;
    height: 100%;
    background-image: url("../../Imgs/the_Night_Bell_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    transition: 1.4s ease;

}
.The_Night_Bell_Text{
    size: 14px;
}
.The_Night_Bell:hover   {
    
    //filter: blur(1px);
}

.My_Girlfriend_Is_A_Shovel {
    width: 100%;
    height: 100%;
    background-image: url("../../Imgs/My_Girlfriend_Is_A_Shovel_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    transition: 1.4s ease;
}
.My_Girlfriend_Is_A_Shovel:hover   {
    
    //filter: blur(1px);
}
.La_Gata {
     width: 100%;
     height: 100%;
     background-image: url("../../Imgs/La_Gata_1.png");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 55%;
     transition: 1.4s ease;
 }
.La_Gata:hover   {
    
    //filter: blur(1px);
}
.Sekhem {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/Sekhem.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    transition: 1.4s ease;
}
.Sekhem:hover   {
    
    //filter: blur(1px);
}



.Time   {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/Time.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    transition: 1.4s ease;
}
.Time:hover   {
    
    //filter: blur(1px);
}

