/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Cinzel+Decorative:400,700|Poiret+One|Raleway');


/* Rules for using icons as white on a dark background. */
.material-icons.mat-light { color: rgba(255, 255, 255, 1); }
.material-icons.mat-light.mat-inactive { color: rgba(255, 255, 255, 0.3); }

button:focus, md-icon:focus, md-card:focus {outline:0;}

